---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Me"
---

<BaseLayout pageTitle={pageTitle}>
	<div>
        <div class="hero-image">
            <img src="/images/header-image-1.webp" />
        </div>
            <p>My name is Sir Kamron, and I am a passionate software engineer with a love for learning and innovation. 
               I thrive on exploring new technologies, tinkering with programming languages, and experimenting with frameworks to push the boundaries of what’s possible in software development.</p>

            <p>I hold a bachelor's degree in Computer Science and have over 4 years of experience in full-stack web development. 
                Throughout my career, I’ve had the opportunity to design, build, and optimize web applications that solve real-world problems while delivering seamless user experiences.</p>

    </div>
</BaseLayout>

<style>
    .hero-image {
        width: 100%;
    }

    .hero-image img {
      width: 100%;
      object-fit: cover;
      overflow: hidden;  
      border-radius: 10px;
    }
</style>

