---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Me"
---

<BaseLayout pageTitle={pageTitle}>
	<div>
        <h2>My Story...</h2>
        <p>My name is Sir Kamron and I am a software engineer.</p>
    </div>
</BaseLayout>

