---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Me"
---

<BaseLayout pageTitle={pageTitle}>
	<div>
       
        <p>My name is Sir Kamron and I am a software engineer. That is really it...</p>
    </div>
</BaseLayout>

