---
import Navigation from "./Navigation.astro"
import MobileMenu from "./MobileMenu.astro"
import ThemeIcon from "./ThemeIcon.astro"
---

<header>
    <nav>
        <MobileMenu />
        <Navigation />
    </nav>
</header>